@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.check {
  list-style-image: url("../public/check.png");
}

.login-bg {
  background: rgb(226, 219, 244);
  background: radial-gradient(
    circle,
    rgba(226, 219, 244, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.ps-active {
  border-radius: 12px;
  font-weight: 900;
  background-color: rgba(221, 241, 255, 0.4);
}
